# because you don't want to break something
# export K8S_CLUSTER='orbstack'

# because local storage
export STORAGECLASS=local-storage
export NODE_NAME=orbstack

# where to put stuff
export NAMESPACE=kanidmd

# config things - use kanidm dev generated certs from localhost while doing test things
export TLS_KEY="$(cat /tmp/kanidm/key.pem | base64)"
export TLS_CHAIN="$(cat /tmp/kanidm/chain.pem| base64)"
export TLS_CA="$(cat /tmp/kanidm/ca.pem| base64)"

export KANIDM_DOMAIN=localhost